* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: "Revalia";
}

.content {
  max-width: 1100px;
  margin: 0 auto;
}

.header__section {
  background: #EEEFF1;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}
.header .header-logo {
  font-family: "Revalia";
  font-style: normal;
  font-weight: 400;
  font-size: 3rem;
  text-align: center;
  color: #34547A;
}
.header .header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .header-nav li {
  list-style-type: none;
}
.header .header-nav li a {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  color: #000000;
  text-transform: uppercase;
  padding-right: 40px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.header .header-nav li a:hover {
  color: #34547A;
}

.design-section {
  padding-bottom: 198px;
  background-color: #EEEFF1;
}
.design-section img {
  padding-top: 120px;
  padding-right: 180px;
  padding-left: 50px;
}
.design-section .design-section-main-title {
  padding-top: 100px;
  font-family: "Roboto";
  padding-right: 8rem;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 79px;
  color: #000000;
}
.design-section .design-section-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.design-section .design-section-content .design-section-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.design-section .design-section-content .design-section-main .design-section-main-descr {
  padding-top: 20px;
  width: 540px;
  height: 67px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
  padding-bottom: 5rem;
}
.design-section .design-section-content .design-section-main .design-section-main-btn {
  width: 225px;
  height: 65px;
  background: #34547A;
  -webkit-transform: translate(-70%, 80%);
          transform: translate(-70%, 80%);
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
  padding: 23px 40px 20px 40px;
}

.aboutme {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 119px;
}

.aboutme-content {
  max-width: 540px;
  height: auto;
}
.aboutme-content .aboutme-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #000000;
}
.aboutme-content .aboutme-descr {
  padding-top: 50px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
  text-align: center;
  padding-bottom: 100px;
}

.myworks {
  background: #34547A;
  padding: 100px 320px;
}

.myworks-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}
.myworks-content .myworks-content-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 141px;
  height: 50px;
}
.myworks-content .myworks-content-block i {
  font-size: 3.2rem;
  color: #fff;
  padding-right: 20px;
}
.myworks-content .myworks-content-block .myworks-content-block-txt {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.skills-section {
  background-color: #fff;
}
.skills-section .skills-bar-item {
  width: 270%;
  height: 10px;
  background-color: rgb(178, 178, 178);
}
.skills-section .skills-bar-item .skills-bar-item-name {
  text-align: right;
  padding-top: 0px;
  padding-bottom: 10px;
  color: white;
}
.skills-section .skills-bar-item .adobe {
  width: 50%;
  height: 1px;
  background-color: rgb(176, 28, 28);
}
.skills-section .skills-bar-item .scss {
  width: 90%;
  height: 1px;
  background-color: greenyellow;
}
.skills-section .skills-bar-item .git {
  width: 60%;
  background-color: #34547A;
}

.skills-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.skills-txt .skills-txt-title {
  padding-bottom: 40px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #000000;
}
.skills-txt .skills-bar p {
  padding-bottom: 20px;
  padding-top: 30px;
}
.skills-txt .skills-bar p::first-child {
  padding-top: 0px;
}

.skills {
  padding: 102px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}
.skills .skills-img {
  max-width: 555px;
  height: auto;
}/*# sourceMappingURL=style.css.map */