@media only screen and (max-width: 1173px ){
    .design-section-content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        align-content: center;
        // transform: translate(30%,-20%);
        .design-section-main {
            text-align: center;   
        }
        .design-section-content-img {
            margin: 0 auto;
        }
    }
    .myworks-content {
        flex-wrap: wrap;
    }
   .skills {
        flex-wrap: wrap;
        .skills-img {
            max-width: 1%;
        }
   }
}