@import '_mixin.scss';
@import '_responsive.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .4s all;
}
html, body { 
    margin: 0;
    padding: 0;
}
// html {
//     // overflow-x:hidden;
// }
section {
    margin: 0 auto;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: 'Revalia';
    box-sizing: border-box;
    min-height: 1200px;
}

.content {
    max-width: 1100px;
    margin: 0 auto;
}

section {
    max-width: 100%;
}
.header__section {
    background: #EEEFF1;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    .header-logo {
        font-family: 'Revalia';
        font-style: normal;
        font-weight: 400;
        font-size: 3rem;
        text-align: center;
        color: #34547A;
    }
    .header-nav {
        display: flex;
        justify-content: space-between;
        li {
            list-style-type: none;
            a {
                text-decoration: none;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 1rem;
                color: #000000;
                text-transform: uppercase;
                padding-right: 40px;
                
                transition: .5s all;
                &:hover {
                    color: #34547A;
                }
            }
        }
    }

}

@media only screen and (max-width: 700px) {
    li {
        display: none;
    }
    .header-logo {
        margin: 0 auto;
    }
}


// -----------DESIGN__SECTION----------------
.design-section {
    // display: none;
    padding-top: 100px;
    padding-bottom: 198px;
    background-color: #EEEFF1;

    .design-section-content-img {
        // display: none;
        max-width: 100%;
        img {
            max-width: 300px;
        }
    }
    .design-section-content {
            display: flex;
            justify-content: space-between;
            align-content: center;
            align-items: center;
        .design-section-main {
            // display: none;
            text-align: center;
            .design-section-main-title {
                font-family: 'Revalia';
                font-style: normal;
                font-weight: 500;
                font-size: 48px;
                line-height: 79px;
                color: #000000;
            }
            .design-section-main-descr {
                max-width: 500px;
                padding-top: 50px;
                @include descr;
                padding-bottom: 70px;
            }
            .design-section-main-btn {
                @include btn;
                transform: translate(-70%,80%);
            }
        }
    }
}
// -----------ABOUTME__SECTION----------------
.aboutme {
    background-color: #fff;
    display: flex;
    justify-content: center;
    padding-top: 119px;
}

.aboutme-content {
    max-width: 540px;
    height: auto;
    .aboutme-title {
       @include subtit;
        
    }
    .aboutme-descr {
        padding-top: 50px;
        @include descr;
        text-align: center;
        padding-bottom: 100px;
    }
}

// -----------WORK__SECTION----------------
.myworks {
    // display: none;
    max-width: 100%;
    background: #34547A;
    padding: 100px 0;
}
.myworks-content {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    .myworks-content-block {
        display: flex;
        align-content: center;
        align-items: center;
        max-width: 141px;
        height: 50px;
        i {
            font-size: 3.2rem;
            color: #fff;
            padding-right: 20px;
        }
        .myworks-content-block-txt {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            
            color: #FFFFFF;
        }
    }
}
// -----------SKILLS__SECTION----------------
.skills-section {
    max-width: 100%;
    background-color: #fff;
    .skills-bar-item {
        background-color: rgb(178, 178, 178);
        .skills-bar-item-name {
            text-align: right;
            padding-top: 0px;
            padding-bottom: 10px;
            color: white;
        }
        .adobe {
            max-width: 50%;
            height: 1px;
            background-color: rgb(176, 28, 28);
        }
        .scss {
            max-width: 90%;
            height: 1px;
            background-color: greenyellow;
        }
        .git {
            max-width: 60%;
            background-color:#34547A;
        }
    }
}

.skills-txt {
    padding-top: 50px;
    max-width: 100%;
    display: flex;
    flex-direction: row;
justify-content: space-between;
    .bar {
        width: 40%;
    }
    .skills-txt-title {
        text-align: center;
        padding-bottom: 40px;
        @include subtit;
    }
    .skills-bar {
        p {
            padding-bottom: 20px;
            padding-top: 30px;
            &::first-child {
                padding-top: 0px;
            }
        }
    }

}

.skills {
    padding: 102px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-direction: column;
    .skills-img {
        // display: none;
        max-width: 50%;
        height: auto;
    }
}
@media only screen and (max-width: 800px){
    .skills {
        flex-wrap: wrap;
        img {
            padding-top: 50px;
        }
    }
    .myworks-content {
        flex-direction: column;
    }
}
@media only screen and (max-width: 540px) {
    .skills-txt {
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
}
// -----------STYLE__SECTION----------------

.style {
    background: #EEEFF1;
    padding-bottom: 100px;
}
.style-title {
    padding-top: 100px;
    @include subtit;
}
.style-descr {
    padding-top: 50px;
    @include descr;
    margin: 0 auto;
    max-width: 540px;
    text-align: center;
    padding-bottom: 57px;
}

.style-video {
    max-width: 1110px;
    height: 600px;
    
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(photo-1514070706115-47c142769603.jpg);
}

// -----------PROJECT__SECTION----------------

.projects {
    width: 100vw;
    height: 800px;
    background: url('/img/projects.svg') no-repeat top center;
}

// -----------FORM__SECTION----------------
.form {
    display: none;
    background: #EEEFF1;
    padding-bottom: 150px;
}
.form-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.form-content-form {
    padding-left: 10px;
    max-width: 540px;
    max-height: 247px;
    display: flex;
    flex-wrap: wrap;
    color: #5F5D5D;
    input {
        width: 255px;
        height: 50px;
        background: #FFFFFF;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        text-align: center;
        padding: 10px;
        color: #5F5D5D;
        border: none;
        &:focus {
            background: #fff;
            box-shadow: 0;
            border: 3px solid #3498db;
            color: #3498db;
            outline: none;
        }
    }
    .your-name {
        padding-bottom: 10px;
        padding-right: 10px;
    }
    textarea {
        border: none;
        width: 520px;
        height: 175px;
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 14px;
        color: #5F5D5D;
    }
}

.form-actions {
    padding-top: 70px;
}
.form-content-btn {
    @include btn;
}

// ------------FOOTER-SECTION----------------
.footer {
    padding: 50px 0;
    background-color:#34547A;
    color: #fff;
    .footer-content {
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        .footer-content-txt-title {
            font-family: 'Roboto';
            font-weight: 500;
            font-size: 21px;
            color: #FFFFFF;
            padding-bottom: 20px;
        }
        .footer-content-txt-descr {
            font-family: 'Roboto';
            font-weight: 400;
            font-size: 13px;
            line-height: 21px;
            color: #FFFFFF;
        }
        .footer-content-social-link {
            color: #fff;
            text-decoration: none;
            i {
                font-size: 50px;
                padding-right: 20px;
                opacity: 1;
            }
            &:hover {
                opacity: .6;
            }
        }
    }
}