@mixin descr {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}
@mixin subtit {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: 'Revalia';
}

.content {
    max-width: 1100px;
    margin: 0 auto;
}

.header__section {
    background: #EEEFF1;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    .header-logo {
        font-family: 'Revalia';
        font-style: normal;
        font-weight: 400;
        font-size: 3rem;
        text-align: center;
        color: #34547A;
    }
    .header-nav {
        display: flex;
        justify-content: space-between;
        li {
            list-style-type: none;
            a {
                text-decoration: none;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 1rem;
                color: #000000;
                text-transform: uppercase;
                padding-right: 40px;
                
                transition: .5s all;
                &:hover {
                    color: #34547A;
                }
            }
        }
    }

}


// -----------DESIGN__SECTION----------------
.design-section {
    padding-bottom: 198px;
    background-color: #EEEFF1;
    img {
        padding-top: 120px;
        padding-right: 180px;
        padding-left: 50px;
    }
    .design-section-main-title {
        padding-top: 100px;
        font-family: 'Roboto';
        padding-right: 8rem;
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        line-height: 79px;
        color: #000000;
    }
    .design-section-content {
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        .design-section-main {
            display: flex;
            justify-content: space-between;
            align-content: center;
            align-items: center;
            flex-direction: column;
            .design-section-main-descr {
                padding-top: 20px;
                width: 540px;
                height: 67px;
                @include descr;
                padding-bottom: 5rem;
            }
            .design-section-main-btn {
                width: 225px;
                height: 65px;
                background: #34547A;
                transform: translate(-70%,80%);
                font-family: 'Roboto';
                font-weight: 400;
                font-size: 1rem;
                text-align: center;
                letter-spacing: 0.1em;
                color: #FFFFFF;
                text-transform: uppercase;
                text-decoration: none;
                padding: 23px 40px 20px 40px;
            }
        }
    }
}
// -----------ABOUTME__SECTION----------------
.aboutme {
    background-color: #fff;
    display: flex;
    justify-content: center;
    padding-top: 119px;
}

.aboutme-content {
    max-width: 540px;
    height: auto;
    .aboutme-title {
       @include subtit;
        
    }
    .aboutme-descr {
        padding-top: 50px;
        @include descr;
        text-align: center;
        padding-bottom: 100px;
    }
}

// -----------WORK__SECTION----------------
.myworks {
    background: #34547A;
    padding: 100px 320px;
}
.myworks-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    .myworks-content-block {
        display: flex;
        justify-content: space-around;
        align-content: center;
        align-items: center;
        max-width: 141px;
        height: 50px;
        i {
            font-size: 3.2rem;
            color: #fff;
            padding-right: 20px;
        }
        .myworks-content-block-txt {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            
            color: #FFFFFF;
        }
    }
}
// -----------SKILLS__SECTION----------------
.skills-section {
    background-color: #fff;
    .skills-bar-item {
        width: 270%;
        height: 10px;
        background-color: rgb(178, 178, 178);
        .skills-bar-item-name {
            text-align: right;
            padding-top: 0px;
            padding-bottom: 10px;
            color: white;
        }
        .adobe {
            width: 50%;
            height: 1px;
            background-color: rgb(176, 28, 28);
        }
        .scss {
            width: 90%;
            height: 1px;
            background-color: greenyellow;
        }
        .git {
            width: 60%;
            background-color:#34547A;
        }
    }
}

.skills-txt {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    .skills-txt-title {
        padding-bottom: 40px;
        @include subtit;
    }
    .skills-bar {
        p {
            padding-bottom: 20px;
            padding-top: 30px;
            &::first-child {
                padding-top: 0px;
            }
        }
    }

}

.skills {
    padding: 102px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    .skills-img {
        max-width: 555px;
        height: auto;
    }
}